.about-section {
    padding: 50px;
    margin-top: 50px;
    text-align: center;
    
  }
  
  .about-container {
    max-width: 800px;
    margin: 0 auto;
   
    padding: 30px;
    border-radius: 15px;
    box-shadow: var(--shadow1);
    
  }
  
  .about-container h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: black;
  }
  
  .about-container p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #555;
  }
  
  .shop-name {
    font-weight: bold;
    color: #27ae60; /* Customize this color to match your brand */
  }
  