.container{
    padding: 0.1rem;
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
   
    box-shadow: var(--shadow1);
    border-radius: 10px; 
  

}
.topcontainer{
    padding: 15px;
    
}

.logo{
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 20px;
}

.logo>img{
    width: 5.5rem;
    height: auto;

}

.right{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.menu{
    display: flex;
    gap: 2rem;
    font-weight: 500;
    list-style: none;

}

.menu>li:hover{
    color: aliceblue;
    cursor: pointer;
}

.cart {
    height: 1.5rem;
    width: 1.5rem;
}
